<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    
    <div class="navbar">
        <img src="{{ url_for('static', filename='ai-healthcare-robot-high-resolution-logo.png') }}" alt="Logo" class="logo">
    </div>
    
    <div class="home-tab-container">
        <a href="/" class="home-tab">Home</a>
    </div>
        <!-- About Section -->
    <div class="about-section">
        <h1>About Our AI Healthcare Robot</h1>
        <p>Reimaging Healthcare at Your Fingertips</p>

        <h2>Empowering Elderly Care with Cutting-Edge Technology</h2>
        <p>In collaboration with Rocahealth and esteemed institutions like Stanford School of Medicine, we are proud to introduce a groundbreaking advancement in elderly healthcare: our AI Healthcare Robot, specifically tailored for patients suffering from sarcopenia. 
            Our AI Healthcare Robot is a pioneering solution designed to address these challenges. It offers a seamless blend of technology and healthcare, making it easier for the elderly to manage sarcopenia effectively from the comfort of their homes.
        </p>

        <h2>Key Features:</h2>
        <ul>
            <li>Home-Based Care: Making doctor visits is tough for many elderly people. Our robot brings healthcare to their homes.</li>
            <li>Smart Diagnostics: It uses advanced AI to assess risk and provide detailed health insights.</li>
            <li>User-Friendly: It’s designed for ease of use, with a focus on empathy and comfort.</li>
            <li>Data-Driven Decisions: By analyzing large datasets of sarcopenia patients, the robot enhances its understanding of the disease, leading to improved care strategies and outcomes.</li>
       </ul>

        <h2>Looking Ahead</h2>
        <p>Currently, our AI robot is a powerful tool for managing sarcopenia. But we're not stopping here. We plan to expand its capabilities to detect and manage other health conditions in the future. This project represents a synergy of technology and healthcare expertise.
            In collaboration with Rocahealth, Stanford School of Medicine, and  the power of AI, we aim to transform the way Healthcare is managed. Our goal is make healthcare easier and accessable to everyone.</p>

        <h2>Be Part of the Change</h2>
        <p>Join us in revolutionizing Healthcare. With our AI Healthcare Robot, we're making strides towards a future where every person can enjoy a healthier, more independent life.</p>
    </div>
</body>
</html>
